<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <ui:decorate template="/resources/templates/template.xhtml">	

        <!-- Center Content -->
        <ui:define name="conteudo_centro">
            <h:form id="form">
                <p:growl id="growl" autoUpdate="true" showDetail="true"
                         showSummary="true" />      

                <p:wizard widgetVar="wizard" nextLabel="Avançar" backLabel="Voltar" flowListener="#{workflowComposerBean.flowController}">
                    <p:tab id="initial" title="Início">
                        <p:panel>
                            <p:panel style="margin: 10px">
                                <f:facet name="header">
                                    <center>
                                        <p:outputLabel value="Iniciar novo Workflow" />
                                    </center>
                                </f:facet>

                                <center>
                                    <p:panel style="margin: 10px">
                                        Clique aqui para começar um novo Workflow, sem importá-lo.
                                    </p:panel>
                                    <p:commandButton value="Começar Projeto" onclick="PF('wizard').next();"/>  
                                </center>
                            </p:panel>
                            <br />
                            <p:panel style="margin: 10px">
                                <f:facet name="header">
                                    <center>
                                        <p:outputLabel value="Importar Workflow" />
                                    </center>
                                </f:facet>

                                <center>
                                    <p:panel style="margin: 10px">
                                        Caso queira importar um Workflow, faça seu upload por aqui.
                                    </p:panel>
                                    <p:fileUpload id="file_upload" mode="advanced" 
                                                  dragDropSupport="false" multiple="false" 
                                                  invalidFileMessage="Formato de arquivo inválido. Apenas formato .flow é permitido"
                                                  fileUploadListener="#{workflowComposerBean.handleImportedWorkflow}"
                                                  cancelLabel="Cancelar" uploadLabel="Enviar"
                                                  label="Escolher Workflow" allowTypes="/(\.|\/)(flow)$/"
                                                  update="growl" sizeLimit="268435"/>
                                </center>
                            </p:panel>

                        </p:panel>
                    </p:tab>

                    <!-- Element selection tab -->
                    <p:tab id="element_selection" title="Seleção de Elementos">
                        <p:panel header="Escolha os elementos deste Workflow">
                            <p:panel style="border-color: #2980b9">
                                <p:outputLabel value="De uma breve descrição deste workflow" /> <br />
                                <p:inputText value="#{workflowComposerBean.workflowDescription}" style="width: 99%"
                                             required="true" requiredMessage="Campo 'Descrição' obrigatorio" />
                            </p:panel> 
                            <br />
                            <p:fieldset legend="Elementos disponíveis" style="border-color: #2980b9">
                                <p:panel style="border-color: #2980b9">
                                    <p:outputLabel value="Escolha os elementos que irão compor este workflow." />
                                </p:panel> 
                                <br />
                                <center>
                                    <p:dataGrid var="s" value="#{workflowComposerBean.servicesList}" columns="4" layout="grid"
                                                id="elements" paginator="true" rows="4">
                                        <f:facet name="header" >
                                            Elementos
                                        </f:facet>

                                        <p:panel header="#{s.name}" style="text-align:center">
                                            <h:panelGrid columns="1" style="width:100%">
                                                <h:outputText value="#{s.info}" />
                                                <hr style="color: #2980b9"/>
                                                <f:facet name="footer">
                                                    <p:commandButton action="#{workflowComposerBean.addElement(s)}"
                                                                     value="Adicionar" icon="ui-icon-check" 
                                                                     update=":form:chosen_elements, :form:growl"
                                                                     iconPos="left" />
                                                </f:facet>
                                            </h:panelGrid>
                                        </p:panel>

                                    </p:dataGrid>
                                </center>
                            </p:fieldset>
                            <br />
                            <p:fieldset id="chosen_elements" legend="Elementos escolhidos" style="border-color: #2980b9">
                                <center>
                                    <p:dataTable value="#{workflowComposerBean.elements}" var="e" style="width: 400px"
                                                 emptyMessage="Nenhum elemento adicionado" paginator="true" rows="8">
                                        <p:column headerText="Elemento">
                                            <p:outputLabel value="#{e.name}"/>
                                        </p:column>

                                        <p:column headerText="Excluir" style="text-align: center">
                                            <p:commandButton icon="ui-icon-circle-close" action="#{workflowComposerBean.removeElement(e)}" update=":form:chosen_elements"/>
                                        </p:column>
                                    </p:dataTable>
                                </center>
                            </p:fieldset>
                        </p:panel>
                    </p:tab>

                    <p:tab id="workflow_design" title="Desenho do Workflow">
                        <p:panel id="workflow_pnl">   
                            <!-- ======== Diagram ======== -->
                            <p:panel>
                                <f:facet name="header">
                                    <center>
                                        <p:outputLabel value="Diagrama" />
                                    </center>
                                </f:facet>
                                <p:diagram id="workflow_diagram"
                                           value="#{workflowComposerBean.workflowModel}"
                                           style="height:500px" >
                                    <p:ajax event="connect" listener="#{workflowComposerBean.onConnect}" />
                                    <p:ajax event="disconnect" listener="#{workflowComposerBean.onDisconnect}" />
                                    <p:ajax event="connectionChange" listener="#{workflowComposerBean.onConnectionChange}" />
                                </p:diagram>
                            </p:panel>
                        </p:panel>
                    </p:tab>

                    <p:tab id="workflow_summary" title="Resumo deste Workflow">
                        <p:panel>
                            <p:panel>
                                Confira aqui o resumo desta execução. Ao clicar em "Confirmar Workflow" será iniciada sua execução.
                            </p:panel>
                            <br />
                            <p:panel>
                                <p:panelGrid columns="2" style="width: 100%; margin: 15px">
                                    <f:facet name="header">
                                        <p:outputLabel value="Dados deste workflow" style="font-size: 120%; margin: 10px"/>
                                    </f:facet>
                                    <p:outputLabel value="Id" style="font-weight: bold"/>
                                    <p:outputLabel value="#{workflowComposerBean.workflow.id}" style="font-weight: bold"/>
                                    <p:outputLabel value="Descrição" style="font-weight: bold"/>
                                    <p:outputLabel value="#{workflowComposerBean.workflow.description} " />
                                    <p:outputLabel value="Tamanho" style="font-weight: bold"/>
                                    <p:outputLabel value="#{workflowComposerBean.workflow.jobs.size()} Job(s)" />
                                    <p:outputLabel value="Criado em" style="font-weight: bold"/>
                                    <p:outputLabel value="#{workflowComposerBean.workflow.creationDatestamp}" />
                                    <p:outputLabel value="Quantidade de inputs" style="font-weight: bold"/>
                                    <p:outputLabel value="#{workflowComposerBean.jobs.size()}" />
                                    <p:outputLabel value="Status" style="font-weight: bold"/>
                                    <p:outputLabel value="#{workflowComposerBean.workflowStatus}" 
                                                   style="font-weight: bold; color: #{workflowComposerBean.workflowColor}"/>
                                </p:panelGrid>
                            </p:panel>
                            <br />
                            <center>
                                <h:panelGrid columns="2" style="text-align: center">
                                    <p:panel header="Executar Workflow" style="text-align: center; width: 400px">
                                        <p:outputLabel value="Iniciar execução deste Workflow. Seu Workflow será enviado ao BioNimbuZ e você poderá acompanhar sua execução" 
                                                       style="margin: 10px" /> <br />
                                        <center>
                                            <p:commandButton action="#{workflowComposerBean.startWorkflow()}" value="Confirmar Workflow" style="margin: 10px; border-color: #2980b9"/>
                                        </center>
                                    </p:panel>
                                    <p:panel header="Download" style="text-align: center; width: 400px">
                                        <p:outputLabel value="Você pode realizar o download deste Workflow e importá-lo posteriormente ou compartilhá-lo" 
                                                       style="margin: 10px" /> <br />
                                        <center>
                                            <p:commandButton value="Download" ajax="false" icon="ui-icon-arrowthick-1-s" style="margin: 10px; border-color: #2980b9" >
                                                <p:fileDownload value="#{workflowComposerBean.downloadWorkflow()}" />
                                            </p:commandButton>
                                        </center>
                                    </p:panel>
                                </h:panelGrid>
                            </center>
                        </p:panel>
                    </p:tab>
                </p:wizard>
            </h:form>
        </ui:define>
    </ui:decorate>

    <!-- ***************************************************************************************************************** -->
    <!--                                                        DIALOGS                                                    -->
    <!-- ***************************************************************************************************************** -->
    <!-- File Dialog: Used for the user to pick inputs -->
    <p:dialog widgetVar="file_dlg" showEffect="fade" header="Entrada"
              hideEffect="fade" modal="true" closable="false">
        <h:form id="file_form">

            <p:panel>
                Escolha a o arquivo de entrada deste passo e seus parâmetros.
            </p:panel>
            <br />
            <p:accordionPanel>
                <p:tab title="Arquivos">
                    <p:fieldset id="file_list_dlg" legend="Lista de Arquivos">
                        <p:panel>
                            Caso não tenho realizado o upload dos arquivos necessários para essa execução, faça-o 
                            <p:commandLink value="aqui" action="upload_file"/>
                        </p:panel>
                        <br />
                        <center>
                            <p:dataTable value="#{workflowComposerBean.loggedUser.files}" var="f" style="width: 1000px"
                                         paginator="true" rows="5" emptyMessage="Nenhum arquivo encontrado"
                                         selection="#{workflowComposerBean.inputFiles}" rowKey="#{f.name}" >

                                <p:column headerText="Nome" width="25em" style="text-align: center">
                                    <p:outputLabel value="#{f.name}"/>
                                </p:column>

                                <p:column headerText="Upload em" width="25em" style="text-align: center">
                                    <p:outputLabel value="#{f.uploadTimestamp}"/>
                                </p:column>

                                <p:column headerText="Tamanho" width="25em" style="text-align: center">
                                    <p:outputLabel value="#{f.size} Kb"/>
                                </p:column>

                                <p:column headerText="Escolha" style="text-align: center" selectionMode="multiple" />
                            </p:dataTable>
                        </center>
                    </p:fieldset>
                </p:tab>

<!--                <p:tab title="URL">
                    <p:fieldset legend="URL">
                        Digite a URL de onde se encontra seu arquivo (URL de um armazenamento, link do Dropbox, link do Google Drive, ...). <br />
                        Apontar o caminho direto para o arquivo (não apontar pastas, por exemplo):
                        <h:inputText id="url" style="width: 99%; margin: 3px" value="#{workflowComposerBean.inputURL}"/>
                    </p:fieldset>
                </p:tab>-->

            </p:accordionPanel>
            <br />
            <center>
                <h:panelGrid columns="23" cellpadding="3" cellspacing="7">
                    <p:fieldset legend="Argumentos de entrada">
                        <center>
                            <p:outputLabel value="Argumentos da linha de comando. Ex: -X --cached -p 10 (Opcional)" /> <br />
                            <h:inputText id="args" style="width: 80%; margin: 3px" value="#{workflowComposerBean.arguments}" styleClass="font-courier"/>
                        </center>
                    </p:fieldset>
                    <p:fieldset legend="Arquivos de referência (Opcional)">
                        <center>
                            <p:outputLabel value="Referências disponíveis de entrada" /> <br />

                            <p:selectOneMenu id="refs" value="#{workflowComposerBean.chosenReference}" style="width: 230px; font-size: 110%">
                                <f:selectItem itemLabel="Referência" itemValue="" />
                                <f:selectItems value="#{workflowComposerBean.references}" />
                            </p:selectOneMenu>
                        </center>
                    </p:fieldset>
                    <p:fieldset legend="Formato do Arquivo de saida (Opcional)">
                        <center>
                            <p:outputLabel value="Formatos suportados" /> <br />

                            <p:selectOneMenu id="formats" value="#{workflowComposerBean.fileFormat}">
                                <f:selectItem itemLabel="Formato" itemValue="" />
                                <f:selectItems value="#{workflowComposerBean.supportedFormats}" />
                            </p:selectOneMenu>
                        </center>
                    </p:fieldset>
                </h:panelGrid>
            </center>
            <br />
            <p:panel>
                Para nao utilizar dados de entrada, clique em 'Pular'. 
                Neste caso, a entrada deste passo sera apenas a saida do passo anterior. <br />
                <p:commandButton value="Confirmar" action="#{workflowComposerBean.setJobFields()}" 
                                 update=":form:growl" style="margin: 5px"
                                 onclick="PF('file_dlg').hide()"/>
                <p:commandButton value="Pular" update=":form:growl" style="margin: 5px"
                                 action="#{workflowComposerBean.setJobFieldsWithOutput()}"
                                 onclick="PF('file_dlg').hide()"/>
            </p:panel>
        </h:form>
    </p:dialog>

</html>